.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.svg {
	width: 50px;
	margin-bottom: 34vh;
	animation: rotate 1.4s linear infinite;
	margin-bottom: 34vh;
}

.circle {
	fill: none;
	stroke: var(--color-light-black);
	stroke-width: 4;
	stroke-linecap: round;
	animation: dash 1.4s ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}