.swiper {
	width: 100%;
}

.image {
	width: 100%;
	aspect-ratio: 3 / 2;
	border-radius: 6px;
	object-fit: cover;
}

.navButton {
	z-index: 2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 16px 8px;
	width: 30px;
	height: 30px;
	color: white;
	opacity: 0.7;
	cursor: pointer;
}

.prev {
	left: 0px;
}

.next {
	right: 0px;
}

.swiper :global(.swiper-pagination-bullet) {
	background-color: white;
	opacity: 0.4;
}

.swiper :global(.swiper-pagination-bullet-active) {
	background-color: white;
	opacity: 1;
}

@media screen and (max-width: 935px) {
	.swiper {
		width: 100vw;
		margin-left: calc(50% - 50vw) !important;
	}

	.image {
		border-radius: 0px;
	}
}
