.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.anchor {
    color: var(--color-pastel-orange);
}

@media screen and (max-width: 935px) {
    .paragraph {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 605px) {
    .paragraph {
        font-size: 1em;
    }
}
