.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px;
}

.imageContainer {
    display: block;
}

.image {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textContainer {
    min-width: 0;
}

.text {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 2rem;
    margin: 1px;
    display: block;
}
