.container {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    padding-inline: 0vw;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 935px) {
    .container {
        grid-template-columns: repeat(var(--mobile-columns), minmax(0, 1fr));
        padding-inline: 16vw;
    }
}

@media screen and (max-width: 605px) {
	.container {
		padding-inline: 8vw;
	}
}
