:root {
	--color-dark-white: rgb(250, 250, 250);
	--color-light-black: rgb(38, 38, 38);
	--color-light-orange: rgb(255, 247, 237);
}

* {
	font: inherit;
	color: var(--color-light-black);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	background-color: var(--color-dark-white);
}

.page {
	padding-top: 60px;
	flex: 1;
	width: 100%;
	max-width: 935px;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
