:root {
	--color-dark-white: rgb(250, 250, 250);
	--color-light-black: rgb(38, 38, 38);
	--color-light-orange: rgb(255, 247, 237);
	--color-pastel-orange: rgb(255, 184, 106);
}

* {
	font: inherit;
	color: var(--color-light-black);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	background-color: var(--color-dark-white);
}

.page {
	padding-top: 60px;
	flex: 1;
	width: 100%;
	max-width: 935px;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: var(--size);
}

h1 { --size: 8rem; }
h2 { --size: 6.4rem; }
h3 { --size: 5.12rem; }
h4 { --size: 4.096rem; }

@media screen and (max-width: 935px) {
	.page {
		padding-inline: 16px;
	}

	h1 { --size: 6rem; }
  	h2 { --size: 4.8rem; }
  	h3 { --size: 3.84rem; }
  	h4 { --size: 3.072rem; }
}

@media screen and (max-width: 605px) {
	.page {
		padding-inline: 16px;
	}

	h1 { --size: 4rem; }
  	h2 { --size: 3.2rem; }
  	h3 { --size: 2.56rem; }
  	h4 { --size: 2.048rem; }
}
