:root {
	--color-dark-white: rgb(250, 250, 250);
	--color-light-black: rgb(38, 38, 38);
	--color-light-orange: rgb(255, 247, 237);
	--color-pastel-orange: rgb(255, 184, 106);

	--heading-default: 8rem;
	--heading-scale: 1;
	--heading-responsive-scale: 1;
  	--heading-ratio: 0.8;
}

* {
	font: inherit;
	color: var(--color-light-black);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	background-color: var(--color-dark-white);
}

.page {
	padding-top: 60px;
	flex: 1;
	width: 100%;
	max-width: 935px;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
	text-align: justify;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
	padding: 0;
	text-align: center;
	font-size: var(--size);
	--heading-size: calc(var(--heading-default) * var(--heading-scale) * var(--heading-responsive-scale));
}

h1 { --size: var(--heading-size); }
h2 { --size: calc(var(--heading-size) * pow(var(--heading-ratio), 1)); }
h3 { --size: calc(var(--heading-size) * pow(var(--heading-ratio), 2)); }
h4 { --size: calc(var(--heading-size) * pow(var(--heading-ratio), 3)); }

@media screen and (max-width: 935px) {
	.page {
		padding-inline: 16px;
	}

	:root {
		--heading-responsive-scale: 2/3;
	}
}

@media screen and (max-width: 605px) {
	.page {
		padding-inline: 16px;
	}

	:root {
		--heading-responsive-scale: 1/3;
	}
}
