.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 12px;
}

@media screen and (max-width: 935px) {
    .hideMobile {
        display: none;
    }
}
