.header {
    z-index: 888;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.container {
    height: inherit;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* font-size: 29px; */
    font-size: 1.8125rem;
}

.nav {
    display: flex;
    flex-direction: row;
}

.navItem {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
}

.navItem:hover {
    background-color: rgb(255, 247, 237);
}
