.footer {
    z-index: 666;
    display: block;
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
	background-color: var(--color-dark-white);
}

.container {
    height: inherit;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menuItem {
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.menuItem:hover {
    background-color: var(--color-light-orange);
}

@media screen and (max-width: 935px) {
    .footer {
        height: auto;
    }

    .container{
        flex-direction: column;
    }

    .mobileColumn {
        flex-direction: column;
    }

    .mobilePaddingV {
        padding: 4px;
    }

    .mobilePaddingH {
        padding: 8px;
    }
}
